

# **1.   Função Count**

A função count retorna a quantidade de linhas na tabela que corresponde a determinada seleção.


    SELECT COUNT(<nome_coluna>) FROM <nome_tabela> WHERE <condicao>;

Exemplo:


    SELECT COUNT(id_cliente) AS QUANTIDADE FROM transacoes WHERE id_cliente = 1



# **2.   Cláusula Group by**

O comando GROUP BY agrupa linhas que contém as mesmas condições e sumariza-os. Você poderia obter informações por loja, clientes, entre outros critérios pertinentes a cada aplicação. No SQL Server:


    SELECT <coluna1>, <coluna2>, ..., FROM <nome_tabela> WHERE <condicao> GROUP BY <nome_coluna> ORDER BY <nome_coluna>;

No exemplo:


    SELECT COUNT(id_loja) AS #TRANSACOES_LOJA, id_loja AS loja FROM transacoes GROUP BY id_loja;

Nota: o # não é aceito no SQL Server.