

# **1.   Use as funções min / max / sum / avg**



# **1.1   Função Min**

Essa função retorna o menor valor da coluna indicada conforme as condições solicitadas.


    SELECT MIN(<nome_coluna>) FROM <nome_tabela> WHERE <condicao>;

Exemplo:


    SELECT MIN(valor), id_loja FROM transacoes WHERE id_cliente = 1;



# **1.2   Função Max**

Essa função retorna o maior valor da coluna indicada conforme as condições solicitadas.


    SELECT MAX(<nome_coluna>) FROM <nome_tabela> WHERE <condicao>;

Exemplo:

    SELECT MAX(valor), id_loja FROM transacoes WHERE id_cliente = 1;



# **1.3   Função Sum**

Retorna a soma dos valores da coluna indicada conforme as condições solicitadas.


    SELECT SUM(<nome_coluna>) FROM <nome_tabela> WHERE <condicao>;

Exemplo:

    SELECT SUM(valor) FROM transacoes WHERE id_cliente = 1;



# **1.4   Função AVG**

Retorna a média dos valores da coluna indicada conforme as condições solicitadas.

    SELECT AVG(<nome_coluna>) FROM <nome_tabela> WHERE <condicao>;

Exemplo:

    SELECT AVG(valor) AS media_magalu FROM transacoes WHERE id_loja = 'magalu';